@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap");

* {margin: 0; padding: 0; box-sizing: border-box; color: white; }

body {
    background: linear-gradient(to right,#30e0d6 0%,#409cdf 60%,#5644eb 100%);
    text-align: center;
    font-family: "Oswald", sans-serif;
}

img { width: 100px; margin: 20px 0; }

#manos {
    width: 60px;
    padding-bottom: 6px;
}
h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-size: 2em;
}
p {
    font-family: "Raleway", sans-serif;
    font-size: 0.7em;
    margin-top: 20px;
}
#email {
    margin-top: 20px;
    width: 95%;
    max-width: 300px;
    padding: 10px 8px;
    border: none;
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 0.7em;
    border-radius: 3px;
    border: none;
}
#suscribeBtn {
    padding: 10px 20px;
    background-color: #005ff9;
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 0.7em;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 20px;
}
#backBtn {
    margin-top: 150px;
    padding: 3px 20px;
    border: 1px solid white;
    background: transparent;
    font-family: "Raleway", sans-serif;
    border-radius: 3px;
    font-size: 0.7em;
}